[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/anthony/Desktop/kitty.desktop]
row=0
col=8

[/home/anthony/Desktop/keepassxc_keepassxc.desktop]
row=0
col=11

[/home/anthony/Desktop/firefox_firefox.desktop]
row=0
col=9

[/home/anthony/Desktop/spotify_spotify.desktop]
row=0
col=10

[/home/anthony]
row=0
col=12

